Console/obj/
Console/bin/
packages/
App/obj/
App/bin/
BetApp/obj/
BetApp/bin/
BetApp/publish/
BetAppJs/obj/
BetAppJs/bin/
LiveBetApp/obj/
LiveBetApp/bin/
.vs/BONG88/v15/
websocket-sharp/obj/
websocket-sharp/bin/
GetCookieSample/bin/
GetCookieSample/obj/
BetAppJs/NodeJs/node_modules/
BetAppJs/NodeJs/package-lock.json
SboBetSample/obj/
SboBetSample/bin/
CockFighting/obj/
CockFighting/bin/
*.vsidx
*.vsidx
*.vsidx
.vs/BONG88/v17/fileList.bin
*.bin
*.bin
