<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="username" value="Dungthu06"/>
    <add key="password" value="1234qwer"/>

    <add key="url" value="https://www.5566688.com/login888.aspx?IsSSL=1"/>
  </appSettings>
</configuration>
