<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!--<add key="username" value="KA61B2A1622" />
    <add key="password" value="tttT@33333" />-->
    
    <!--<add key="username" value="KA61B2A1623" />
    <add key="password" value="tttT@44444" />-->
    

    <add key="username" value="BX6464TK004"/>
    <add key="password" value="tttT@11111"/>

    <add key="url" value="https://www.5566688.com/login888.aspx?IsSSL=1"/>
  </appSettings>
</configuration>
